@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo-bg {
  background-image: url('/images/loginbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  color: #e6e6e6;
}

p {
  color: rgb(36, 36, 36);

}

a {
  color: #bab4fd;
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: #5e50fb;
  color: white;
  border-radius: 1vh;
  padding: 1vh 1vh;
  font-size: larger;
}

input {
  padding: 1vh 1vh;
  border-radius: 1vh;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-3px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(3px);
  }
}

.error {
  border: 1px solid #ff0000;
  animation: shake 0.5s ease-in-out; 
}

.search-bar {
  background-color: #bab4fd8b;
  padding-left: 2.5vw;
  font-size:large;
}

.svg {
  position: absolute;
  background-image: url('/images/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  top: 101px;
  left: 52px;
  width: 1.4vw;
  height: 3vh;
}

.default-pic {
  background-image: url('/images/stockAvatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hover-bg:hover {
  background-color: #bab4fd48;
}